@font-face {
  font-family: "latoregular";
  src: url("/font/lato-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --text-color: #444;
  --bkg-color: #eee;
}

body {
  font-size: 150%;
  font-family: latoregular, Arial, Helvetica, sans-serif;
  padding: 1rem;
  background: var(--bkg-color);
  color: var(--text-color);
}

h2 {
  width: 50vw;
}
